@font-face {
    font-family: BetterGradeFont;
    src: url(fuentes/BetterGrade-519DV.ttf);
    
}
#Dr{
    font-family: BetterGradeFont;
    font-size: 50;
}

.bg3 {
    
    background-image: url(https://www.simpleimageresizer.com/_uploads/photos/5804eb6e/foto_contactenos_75.png);
    background-position: center center;
}



  
  


  