@font-face {
    font-family: BetterGradeFont;
    src: url(fuentes/BetterGrade-519DV.ttf);
    
}
#Dr{
    font-family: BetterGradeFont;
    font-size: 50;
}

.bg3 {
    
    background-image: url(https://i.ibb.co/t8vxSLc/280392279-295224712805319-3254846364975171687-n.jpg);
    background-position: center center;
}



  
  


  