@font-face {
    font-family: BetterGradeFont;
    src: url(fuentes/BetterGrade-519DV.ttf);
    
}
#Dr{
    font-family: BetterGradeFont;
    font-size: 50;
}

.bg{
    
    background-image: url(https://i.ibb.co/G2nQhhY/foto-contactenos.png);
    background-position: center center;
}

  
  


  