/*Para el grid del navbar*/
.row{
    padding-right: 0px;
    margin-right: 0px;
    padding-left: 0px;
    margin-left: 0px;
}
.color1{
    background-color: #010D00;
}
.color2{
    background-color: #D9D0BF;
}
.color3{
    background-color: #F2F2F2;
}
.color4{
    background-color: #404040;
}
.color5{
    background-color: #0D0D0D;
}
.colorTextNavBar{
    color:#F2F2F2;
}

.colorNavH:hover{
    color:aqua;
}
.colorNavF:focus{
    color:aqua;
}


.drBannerPadding{
 padding-left: 30px;
}
@media(max-width:992px){
    .drBannerPadding{
        padding-left: 0px;
       }
}


/* Títulos  */


/* Color de fondo */

body{
    background: #F2F2F2    ;
    font-family: 'Montserrat', sans-serif;
}
