body{
    font-family: 'Montserrat', sans-serif;
}

footer{
    font-family: 'Montserrat', sans-serif;
    color: #f2f2f2;
    background-color: #404040;
}
.bg{

    background-image:  url(https://i.pinimg.com/originals/46/19/be/4619be728a0c51f292a1fc83224ec8c0.jpg);
    background-position: center center;
}

/* unvisited link */
a:link {
    color: #404040;
    
  }
  
  /* visited link */
  a:visited {
    color: #404040;
    text-decoration: underline;
  }
  
  /* mouse over link */
  a:hover {
    color: #404040;
    
  }
  
  /* selected link */
 footer, a:active {
    color: #404040;
  }
