body{
    font-family: 'Montserrat', sans-serif;
}

footer{
    font-family: 'Montserrat', sans-serif;
    color: #f2f2f2;
    background-color: #404040;
}
.bg{

    background-image:  url(https://i.ibb.co/fF4TVtD/ni-e.jpg);
    background-position: center center;
}

/* unvisited link */
a:link {
    color: #404040;
    
  }
  
  /* visited link */
  a:visited {
    color: #404040;
    text-decoration: underline;
  }
  
  /* mouse over link */
  a:hover {
    color: #404040;
    
  }
  
  /* selected link */
 footer, a:active {
    color: #404040;
  }
  body{
    font-family: 'Montserrat', sans-serif;
}

footer{
    font-family: 'Montserrat', sans-serif;
    color: #f2f2f2;
    background-color: #404040;
}

.fondo{

    background-image:  url("https://i.pinimg.com/originals/46/19/be/4619be728a0c51f292a1fc83224ec8c0.jpg");
    background-position: center center;
   
}

.bg2{

  background-image:  url("https://i.ibb.co/1vMJC4W/MG-1458-3.jpg");
  background-position: center center;
  
}

/* unvisited link */
a:link {
    color: #404040;
    
  }
  
  /* visited link */
  a:visited {
    color: #404040;
    text-decoration: underline;
  }
  
  /* mouse over link */
  a:hover {
    color: #404040;
    
  }
  
  /* selected link */
 footer, a:active {
    color: #404040;
  }

  .custom {
    width: 95px !important;
  }
  
  .invalid-feedback{
    display:block;
    visibility: hidden;
}
.is-invalid~.invalid-feedback, .is-invalid~.invalid-tooltip, .was-validated :invalid~.invalid-feedback, .was-validated :invalid~.invalid-tooltip {
    display: block;
    visibility: visible;

}
.tamSpinner{
  width: 3rem; 
  height: 3rem;
  display:inline-block;
}
.tamCheck{
  font-size: 3rem;
  display:none;
}
.btnCompraFin{
  visibility:hidden;
}
.textoCompraF{
  margin-bottom:5px;
}