
/*1. PRINCIPIO DEL CARRUSEL*/
/*clase principal del carrusel*/



#carousel {
padding-left: 30px;
padding-right: 30px;

}


.card-text {
    border: 1px;
    display: inline-block;
    width: auto;
    margin: 0 20px;
    text-align: justify;

}


.carousel-inner {
    padding-top: 60px;
    padding-bottom: 20px;
        
    }

/*titulo de los paquetes-forman parte del carrusel*/
.carousel-caption {
    position: absolute; 
    right: 15%;
    top: -75px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    color: #fff;
    text-align: center;
    color: black;
}



.carousel-control-prev-icon {
    background-image: url("https://img.icons8.com/sf-black-filled/64/000000/double-left.png");
    position:absolute;
    z-index:1;
    top:50%;
    margin-top:-9px;
    }
    .carousel-control-next-icon {
        background-image: url("https://img.icons8.com/sf-black-filled/64/000000/double-right.png");
        position:absolute;
        z-index:1;
        top:50%;
        margin-top:-9px;
        }

    
/*cambio de botones*/




/*FINAL DEL CARRUSEL*/


/*2. SEGUNDA SECCION*/

ul.list{

    list-style-position:inside;
}

boton-pr{

    padding-top: 18px;
}

.ps3 {

    padding-top: 20px;
}

.list-group-item {
    padding: .1rem 1rem;
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 960px
    }
}
