
.row {
  padding-right: 0px;
  margin-right: 0px;
}


/* propiedades del carousel */
.bg-img-1 {
background-image: url('https://i.ibb.co/sHFy3Mx/IMG-4664.jpg');
}

.bg-img-2 {
background-image: url('https://i.ibb.co/vBpWXXJ/IMG-2564.jpg');
}

.bg-img-3 {
background-image: url('https://i.ibb.co/NS6XhNV/IMG-8659.jpg');
}

.carousel-image {
background-position: center;
background-size: cover;
background-repeat: no-repeat;
height: 100vh;
}



.avatar{
 width: 80px;
 height: 80px;
 object-fit: cover;
 border-radius: 50%;
 box-shadow: 7px 7px 7px rgba(0 0 0 /0.5);
 border: 3px ridge #fff;
}

#opinion{
text-align: center;
}

#espacio{
height: 12rem;
width: 100%;
}

.stars i{
padding: 10px;
}


#elementos-lista a{
color: rgb(255, 255, 255);
text-decoration: none;
padding: 10px;

}

#redes-sociales a{
color: #F2F2F2;
padding: 1rem;
font-size: 20pt;

}

.flex-container{
display: flex;
/* flex-direction: column;
flex-wrap: wrap; */
background-color: #404040;
flex-flow: column wrap; 
/* border: solid 1px black; */
padding: 2rem;

}


#Dr, #derechos{
color: #F2F2F2;
text-align: center;
}

p{
text-align: justify;
}

/* Caja de comentarios */
#carouselExampleControls{
  /* border: solid 1px black; */
  height: 400px;
  background-color: #D9D0BF;
  width: 80%;
  margin: auto;
}



/* Estilo del cintillo */

#cintillo{
  background-color: #D9D0BF;
  width: 100%;
  margin: auto;
}

/* tabla dentro de cintillo */
/* #tablita{
background-color: aquamarine;
border: solid 1px black;
} */

.celda{
  border: solid 1px black;
}

/* .textoCintilloIz{
text-align: center;
} */

/* .textoComent{
  color: aqua;
} */