
.row {
  padding-right: 0px;
  margin-right: 0px;
}



/* CARRUSEL PRINCIPAL */
.carousel-image {
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}


p{
  text-align: justify;
  }


/* Resaltado de texto introductorio */
.textoDr {
  color: rgb(170, 11, 170);
}

/* Dimensiones foto boda */
.foto-des{
  width: 450px;
  height: 600px;
}

@media (max-width: 520px) {
  .foto-des{
    width: 400px;
    height: 500px;
  }
}

@media (max-width: 490px) {
  .foto-des{
    width: 350px;
    height: 400px;
  }
}

@media (max-width: 420px) {
  .foto-des{
    width: 300px;
    height: 400px;
  }
}

@media (max-width: 370px) {
  .foto-des{
    width: 250px;
    height: 400px;
  }
}

@media (max-width: 300px) {
  .foto-des{
    width: 100px;
    height: 100px;
  }
}

/* Titulo reseñas */
/* .reseñas{
  background-color: #D9D0BF;
} */


/* CAJA COMENTARIOS*/
#carouselExampleControls{
  /* border: solid 1px black; */
  /* height: 400px; */
  background-color: #D9D0BF;
  width: 80%;
  margin: auto;
}

@media (max-width: 2000px) {
  #carouselExampleControls {
      width: 100%;
      height: 400px;
  }
}

@media (max-width: 1000px) {
  #carouselExampleControls {
      width: 100%;
      height: 450px;
  }
}

@media (max-width: 900px) {
  #carouselExampleControls {
      width: 100%;
      height: 500px;
  }
}

@media (max-width: 500px) {
  #carouselExampleControls {
      width: 100%;
      height: 580px;
  }
}

@media (max-width: 370px) {
  #carouselExampleControls {
      width: 100%;
      height: 1600px;
  }
}
.avatar{
 width: 80px;
 height: 80px;
 object-fit: cover;
 border-radius: 50%;
 box-shadow: 7px 7px 7px rgba(0 0 0 /0.5);
 border: 3px ridge #fff;
}

.stars i{
  padding: 10px;
  }

  /* Seccion de espacio entre comentarios y cintillo */
#espacio{
height: 5rem;
width: 100%;
}



/* Estilo del cintillo */

#cintillo{
  background-color: #D9D0BF;
  width: 100%;
  margin: auto;
}

/* tabla dentro de cintillo */
/* #tablita{
background-color: aquamarine;
border: solid 1px black;
} */

/* .celda{
  border: solid 1px black;
} */

/* .textoCintilloIz{
text-align: center;
} */

/* .textoComent{
  color: aqua;
} */



/* FOOTER */

.footer-container{
  /* display: flex; */
  /* flex-direction: column;
  flex-wrap: wrap; */
  background-color: #404040;
  /* flex-flow: column wrap;  */
  /* border: solid 1px black; */
  padding: 2rem;
  text-align: center;
  }

#elementos-lista a{
color: rgb(255, 255, 255);
text-decoration: none;
padding: 10px;

}

#redes-sociales a{
color: #F2F2F2;
padding: 1rem;
font-size: 20pt;
text-decoration: none;
}


#Dr, #derechos{
color: #F2F2F2;
text-decoration: none;
}

.botonoutline {
  color: black;
  text-decoration: none;
  
  
}

/* visited link */
.botonoutline a:hover{
  color: black;
  text-decoration: none;
}

/* mouse over link */
.botonoutline {
  color: black;
  text-decoration: none;
  
}